# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.log

# jtsec private files, ask for them to jtsec
cable/usb_reader.py
cable/usb_writer.py
cable/thread_controller.py
